<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arena.Custom.CCV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Arena.Custom.CCV.Properties.Settings>
            <setting name="Arena_Custom_CCV_StrikeIronWS_SMSTextMessaging"
                serializeAs="String">
                <value>http://ws.strikeiron.com/StrikeIron/globalsmspro2_5/SMSTextMessaging</value>
            </setting>
        </Arena.Custom.CCV.Properties.Settings>
    </applicationSettings>
</configuration>